Tracktor/nohup.out
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/0_22-03-04_0_All.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/0_22-03-04_0_Corner.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/0_22-03-04_0_Front.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/0_22-03-04_1_All.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/0_22-03-04_1_Corner.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/0_22-03-04_1_Front.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/0_22-03-04_2_All.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/0_22-03-04_2_Corner.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/0_22-03-04_2_Front.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/0_22-03-04_3_All.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/0_22-03-04_3_Corner.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/0_22-03-04_3_Front.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/0_22-03-10_0_All.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/0_22-03-10_0_Corner.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/0_22-03-10_0_Front.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/0_22-03-10_1_All.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/0_22-03-10_1_Corner.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/0_22-03-10_1_Front.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/0_22-03-10_2_All.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/0_22-03-10_2_Corner.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/0_22-03-10_2_Front.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/0_22-03-10_3_All.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/0_22-03-10_3_Corner.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/0_22-03-10_3_Front.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/0_22-07-28_0_All.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/0_22-07-28_0_Corner.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/0_22-07-28_0_Front.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/0_22-07-28_1_All.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/0_22-07-28_1_Corner.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/0_22-07-28_1_Front.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/0_22-07-28_2_All.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/0_22-07-28_2_Corner.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/0_22-07-28_2_Front.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/0_22-07-28_3_All.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/0_22-07-28_3_Corner.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/0_22-07-28_3_Front.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/0_22-07-29_0_All.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/0_22-07-29_0_Corner.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/0_22-07-29_0_Front.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/0_22-07-29_1_All.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/0_22-07-29_1_Corner.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/0_22-07-29_1_Front.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/0_22-07-29_2_All.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/0_22-07-29_2_Corner.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/0_22-07-29_2_Front.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/0_22-07-29_3_All.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/0_22-07-29_3_Corner.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/0_22-07-29_3_Front.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/0_All_0_All.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/0_All_0_Corner.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/0_All_0_Front.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/0_All_1_All.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/0_All_1_Corner.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/0_All_1_Front.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/0_All_2_All.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/0_All_2_Corner.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/0_All_2_Front.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/0_All_3_All.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/0_All_3_Corner.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/0_All_3_Front.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/1_22-03-04_0_All.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/1_22-03-04_0_Corner.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/1_22-03-04_0_Front.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/1_22-03-04_1_All.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/1_22-03-04_1_Corner.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/1_22-03-04_1_Front.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/1_22-03-04_2_All.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/1_22-03-04_2_Corner.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/1_22-03-04_2_Front.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/1_22-03-04_3_All.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/1_22-03-04_3_Corner.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/1_22-03-04_3_Front.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/1_22-03-10_0_All.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/1_22-03-10_0_Corner.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/1_22-03-10_0_Front.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/1_22-03-10_1_All.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/1_22-03-10_1_Corner.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/1_22-03-10_1_Front.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/1_22-03-10_2_All.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/1_22-03-10_2_Corner.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/1_22-03-10_2_Front.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/1_22-03-10_3_All.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/1_22-03-10_3_Corner.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/1_22-03-10_3_Front.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/1_22-07-28_0_All.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/1_22-07-28_0_Corner.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/1_22-07-28_0_Front.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/1_22-07-28_1_All.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/1_22-07-28_1_Corner.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/1_22-07-28_1_Front.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/1_22-07-28_2_All.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/1_22-07-28_2_Corner.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/1_22-07-28_2_Front.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/1_22-07-28_3_All.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/1_22-07-28_3_Corner.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/1_22-07-28_3_Front.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/1_22-07-29_0_All.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/1_22-07-29_0_Corner.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/1_22-07-29_0_Front.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/1_22-07-29_1_All.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/1_22-07-29_1_Corner.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/1_22-07-29_1_Front.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/1_22-07-29_2_All.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/1_22-07-29_2_Corner.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/1_22-07-29_2_Front.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/1_22-07-29_3_All.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/1_22-07-29_3_Corner.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/1_22-07-29_3_Front.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/1_All_0_All.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/1_All_0_Corner.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/1_All_0_Front.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/1_All_1_All.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/1_All_1_Corner.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/1_All_1_Front.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/1_All_2_All.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/1_All_2_Corner.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/1_All_2_Front.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/1_All_3_All.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/1_All_3_Corner.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/1_All_3_Front.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/2_22-03-04_0_All.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/2_22-03-04_0_Corner.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/2_22-03-04_0_Front.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/2_22-03-04_1_All.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/2_22-03-04_1_Corner.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/2_22-03-04_1_Front.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/2_22-03-04_2_All.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/2_22-03-04_2_Corner.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/2_22-03-04_2_Front.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/2_22-03-04_3_All.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/2_22-03-04_3_Corner.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/2_22-03-04_3_Front.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/2_22-03-10_0_All.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/2_22-03-10_0_Corner.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/2_22-03-10_0_Front.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/2_22-03-10_1_All.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/2_22-03-10_1_Corner.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/2_22-03-10_1_Front.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/2_22-03-10_2_All.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/2_22-03-10_2_Corner.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/2_22-03-10_2_Front.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/2_22-03-10_3_All.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/2_22-03-10_3_Corner.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/2_22-03-10_3_Front.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/2_22-07-28_0_All.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/2_22-07-28_0_Corner.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/2_22-07-28_0_Front.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/2_22-07-28_1_All.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/2_22-07-28_1_Corner.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/2_22-07-28_1_Front.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/2_22-07-28_2_All.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/2_22-07-28_2_Corner.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/2_22-07-28_2_Front.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/2_22-07-28_3_All.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/2_22-07-28_3_Corner.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/2_22-07-28_3_Front.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/2_22-07-29_0_All.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/2_22-07-29_0_Corner.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/2_22-07-29_0_Front.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/2_22-07-29_1_All.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/2_22-07-29_1_Corner.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/2_22-07-29_1_Front.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/2_22-07-29_2_All.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/2_22-07-29_2_Corner.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/2_22-07-29_2_Front.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/2_22-07-29_3_All.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/2_22-07-29_3_Corner.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/2_22-07-29_3_Front.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/2_All_0_All.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/2_All_0_Corner.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/2_All_0_Front.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/2_All_1_All.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/2_All_1_Corner.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/2_All_1_Front.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/2_All_2_All.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/2_All_2_Corner.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/2_All_2_Front.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/2_All_3_All.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/2_All_3_Corner.json
Analysis/_1e3f13d27e9e43039ae334227a18a8ac/2_All_3_Front.json
output.mp4
Utilities/__pycache__/__init__.cpython-311.pyc
Utilities/__pycache__/Processing.cpython-311.pyc
Utilities/__pycache__/Utils.cpython-311.pyc
.gitignore
Tracktor/input.txt
.gitignore
.gitignore
.gitignore
.gitignore
.gitignore
Tracktor/images.txt
Tracktor/image_list.txt
Tracktor/cat_output.mp4
Ball_Pushing/Ball_pushing_utils/230922_PushingEventsVideos_2.txt
Ball_Pushing/Ball_pushing_utils/230922_PushingEventsVideos_3.txt
Ball_Pushing/Ball_pushing_utils/230922_PushingEventsVideos.txt
Ball_Pushing/Optobot/Analysis/geckodriver.log
Utilities/__pycache__/__init__.cpython-310.pyc
Utilities/__pycache__/Processing.cpython-310.pyc
Utilities/__pycache__/Utils.cpython-310.pyc
Ball_Pushing/MazeRecorder/Analysis/my_output.txt
Utilities/__pycache__/Ballpushing_utils.cpython-311.pyc
Ball_Pushing/MazeRecorder/Analysis/genotype_heatmaps.html
Ball_Pushing/Ball_pushing_utils/nohup.out
Utilities/__pycache__/HoloviewsTemplates.cpython-311.pyc
Utilities/__pycache__/Optobot_utils.cpython-311.pyc
Ball_Pushing/MazeRecorder/Analysis/geckodriver.log
Ball_Pushing/MazeRecorder/Analysis/ghostdriver.log
MazeRecorder/Processing/ffmpeg_log_2024-08-29_17-58-07.txt
MazeRecorder/Processing/ffmpeg_log_2024-08-30_12-24-06.txt
MazeRecorder/Processing/nohup.out
output.png
MazeRecorder/Analysis/241128_F1_Lineplot_smoothed.png
MazeRecorder/Analysis/241128_F1_Lineplot.png
MazeRecorder/Analysis/aha_moment_Test_Ball_CI_Pooled_prtr.png
MazeRecorder/Analysis/aha_moment_Test_Ball_CI.png
MazeRecorder/Analysis/aha_moment_Test_Ball.png
MazeRecorder/Analysis/aha_moment_time_Test_Ball_CI_Pooled_prtr.png
MazeRecorder/Analysis/aha_moment_time_Test_Ball_CI.png
MazeRecorder/Analysis/aha_moment_time_Test_Ball.png
MazeRecorder/Analysis/Ball_Coordinates_by_F1_condition_Pretraining_Y.png
MazeRecorder/Analysis/Ball_Coordinates_by_Pretraining.png
MazeRecorder/Analysis/cumulated_breaks_duration_Test_Ball_CI_Pooled_prtr.png
MazeRecorder/Analysis/cumulated_breaks_duration_Test_Ball_CI.png
MazeRecorder/Analysis/cumulated_breaks_duration_Test_Ball.png
MazeRecorder/Analysis/distance_moved_Test_Ball.png
MazeRecorder/Analysis/final_event_Test_Ball_CI_Pooled_prtr.png
MazeRecorder/Analysis/final_event_Test_Ball_CI.png
MazeRecorder/Analysis/final_event_Test_Ball.png
MazeRecorder/Analysis/final_event_time_Test_Ball_CI_Pooled_prtr.png
MazeRecorder/Analysis/final_event_time_Test_Ball_CI.png
MazeRecorder/Analysis/final_event_time_Test_Ball.png
MazeRecorder/Analysis/first_significant_event_Test_Ball_CI_Pooled_prtr.png
MazeRecorder/Analysis/first_significant_event_Test_Ball_CI.png
MazeRecorder/Analysis/first_significant_event_Test_Ball.png
MazeRecorder/Analysis/first_significant_event_time_Test_Ball_CI_Pooled_prtr.png
MazeRecorder/Analysis/first_significant_event_time_Test_Ball_CI.png
MazeRecorder/Analysis/first_significant_event_time_Test_Ball.png
MazeRecorder/Analysis/interaction_proportion_Test_Ball.png
MazeRecorder/Analysis/max_distance_Test_Ball_CI_Pooled_prtr.png
MazeRecorder/Analysis/max_distance_Test_Ball_CI.png
MazeRecorder/Analysis/max_distance_Test_Ball.png
MazeRecorder/Analysis/max_event_Test_Ball_CI_Pooled_prtr.png
MazeRecorder/Analysis/max_event_Test_Ball_CI.png
MazeRecorder/Analysis/max_event_Test_Ball.png
MazeRecorder/Analysis/max_event_time_Test_Ball_CI_Pooled_prtr.png
MazeRecorder/Analysis/max_event_time_Test_Ball_CI.png
MazeRecorder/Analysis/max_event_time_Test_Ball.png
MazeRecorder/Analysis/nb_events_Test_Ball_CI_Pooled_prtr.png
MazeRecorder/Analysis/nb_events_Test_Ball_CI.png
MazeRecorder/Analysis/nb_events_Test_Ball.png
MazeRecorder/Analysis/nb_significant_events_Test_Ball_CI_Pooled_prtr.png
MazeRecorder/Analysis/nb_significant_events_Test_Ball_CI.png
MazeRecorder/Analysis/nb_significant_events_Test_Ball.png
MazeRecorder/Analysis/pulled_Test_Ball_CI_Pooled_prtr.png
MazeRecorder/Analysis/pulled_Test_Ball_CI.png
MazeRecorder/Analysis/pulled_Test_Ball.png
MazeRecorder/Analysis/pulling_ratio_Test_Ball_CI_Pooled_prtr.png
MazeRecorder/Analysis/pulling_ratio_Test_Ball_CI.png
MazeRecorder/Analysis/pulling_ratio_Test_Ball.png
MazeRecorder/Analysis/pushed_Test_Ball_CI_Pooled_prtr.png
MazeRecorder/Analysis/pushed_Test_Ball_CI.png
MazeRecorder/Analysis/pushed_Test_Ball.png
MazeRecorder/Analysis/significant_ratio_Test_Ball_CI_Pooled_prtr.png
MazeRecorder/Analysis/significant_ratio_Test_Ball_CI.png
MazeRecorder/Analysis/significant_ratio_Test_Ball.png
MazeRecorder/Analysis/F1_plots/aha_moment_Test_Ball_CI_Pooled_prtr.png
MazeRecorder/Analysis/F1_plots/aha_moment_Test_Ball_CI.png
MazeRecorder/Analysis/F1_plots/aha_moment_Test_Ball.eps
MazeRecorder/Analysis/F1_plots/aha_moment_Test_Ball.png
MazeRecorder/Analysis/F1_plots/aha_moment_time_Test_Ball_CI_Pooled_prtr.png
MazeRecorder/Analysis/F1_plots/aha_moment_time_Test_Ball_CI.png
MazeRecorder/Analysis/F1_plots/aha_moment_time_Test_Ball.eps
MazeRecorder/Analysis/F1_plots/aha_moment_time_Test_Ball.png
MazeRecorder/Analysis/F1_plots/cumulated_breaks_duration_Test_Ball_CI_Pooled_prtr.png
MazeRecorder/Analysis/F1_plots/cumulated_breaks_duration_Test_Ball_CI.png
MazeRecorder/Analysis/F1_plots/cumulated_breaks_duration_Test_Ball.eps
MazeRecorder/Analysis/F1_plots/cumulated_breaks_duration_Test_Ball.png
MazeRecorder/Analysis/F1_plots/distance_moved_Test_Ball_CI_Pooled_prtr.png
MazeRecorder/Analysis/F1_plots/distance_moved_Test_Ball_CI.png
MazeRecorder/Analysis/F1_plots/distance_moved_Test_Ball.eps
MazeRecorder/Analysis/F1_plots/distance_moved_Test_Ball.png
MazeRecorder/Analysis/F1_plots/final_event_Test_Ball_CI_Pooled_prtr.png
MazeRecorder/Analysis/F1_plots/final_event_Test_Ball_CI.png
MazeRecorder/Analysis/F1_plots/final_event_Test_Ball.eps
MazeRecorder/Analysis/F1_plots/final_event_Test_Ball.png
MazeRecorder/Analysis/F1_plots/final_event_time_Test_Ball_CI_Pooled_prtr.png
MazeRecorder/Analysis/F1_plots/final_event_time_Test_Ball_CI.png
MazeRecorder/Analysis/F1_plots/final_event_time_Test_Ball.eps
MazeRecorder/Analysis/F1_plots/final_event_time_Test_Ball.png
MazeRecorder/Analysis/F1_plots/first_significant_event_Test_Ball_CI_Pooled_prtr.png
MazeRecorder/Analysis/F1_plots/first_significant_event_Test_Ball_CI.png
MazeRecorder/Analysis/F1_plots/first_significant_event_Test_Ball.eps
MazeRecorder/Analysis/F1_plots/first_significant_event_Test_Ball.png
MazeRecorder/Analysis/F1_plots/first_significant_event_time_Test_Ball_CI_Pooled_prtr.png
MazeRecorder/Analysis/F1_plots/first_significant_event_time_Test_Ball_CI.png
MazeRecorder/Analysis/F1_plots/first_significant_event_time_Test_Ball.eps
MazeRecorder/Analysis/F1_plots/first_significant_event_time_Test_Ball.png
MazeRecorder/Analysis/F1_plots/insight_effect_Test_Ball_CI_Pooled_prtr.png
MazeRecorder/Analysis/F1_plots/insight_effect_Test_Ball_CI.png
MazeRecorder/Analysis/F1_plots/insight_effect_Test_Ball.eps
MazeRecorder/Analysis/F1_plots/insight_effect_Test_Ball.png
MazeRecorder/Analysis/F1_plots/interaction_proportion_Test_Ball_CI_Pooled_prtr.png
MazeRecorder/Analysis/F1_plots/interaction_proportion_Test_Ball_CI.png
MazeRecorder/Analysis/F1_plots/interaction_proportion_Test_Ball.eps
MazeRecorder/Analysis/F1_plots/interaction_proportion_Test_Ball.png
MazeRecorder/Analysis/F1_plots/major_event_Test_Ball.eps
MazeRecorder/Analysis/F1_plots/major_event_Test_Ball.png
MazeRecorder/Analysis/F1_plots/major_event_time_Test_Ball.eps
MazeRecorder/Analysis/F1_plots/major_event_time_Test_Ball.png
MazeRecorder/Analysis/F1_plots/max_distance_Test_Ball_CI_Pooled_prtr.png
MazeRecorder/Analysis/F1_plots/max_distance_Test_Ball_CI.png
MazeRecorder/Analysis/F1_plots/max_distance_Test_Ball.eps
MazeRecorder/Analysis/F1_plots/max_distance_Test_Ball.png
MazeRecorder/Analysis/F1_plots/max_event_Test_Ball_CI_Pooled_prtr.png
MazeRecorder/Analysis/F1_plots/max_event_Test_Ball_CI.png
MazeRecorder/Analysis/F1_plots/max_event_Test_Ball.eps
MazeRecorder/Analysis/F1_plots/max_event_Test_Ball.png
MazeRecorder/Analysis/F1_plots/max_event_time_Test_Ball_CI_Pooled_prtr.png
MazeRecorder/Analysis/F1_plots/max_event_time_Test_Ball_CI.png
MazeRecorder/Analysis/F1_plots/max_event_time_Test_Ball.eps
MazeRecorder/Analysis/F1_plots/max_event_time_Test_Ball.png
MazeRecorder/Analysis/F1_plots/nb_events_Test_Ball_CI_Pooled_prtr.png
MazeRecorder/Analysis/F1_plots/nb_events_Test_Ball_CI.png
MazeRecorder/Analysis/F1_plots/nb_events_Test_Ball.eps
MazeRecorder/Analysis/F1_plots/nb_events_Test_Ball.png
MazeRecorder/Analysis/F1_plots/nb_significant_events_Test_Ball_CI_Pooled_prtr.png
MazeRecorder/Analysis/F1_plots/nb_significant_events_Test_Ball_CI.png
MazeRecorder/Analysis/F1_plots/nb_significant_events_Test_Ball.eps
MazeRecorder/Analysis/F1_plots/nb_significant_events_Test_Ball.png
MazeRecorder/Analysis/F1_plots/pulled_Test_Ball_CI_Pooled_prtr.png
MazeRecorder/Analysis/F1_plots/pulled_Test_Ball_CI.png
MazeRecorder/Analysis/F1_plots/pulled_Test_Ball.eps
MazeRecorder/Analysis/F1_plots/pulled_Test_Ball.png
MazeRecorder/Analysis/F1_plots/pulling_ratio_Test_Ball_CI_Pooled_prtr.png
MazeRecorder/Analysis/F1_plots/pulling_ratio_Test_Ball_CI.png
MazeRecorder/Analysis/F1_plots/pulling_ratio_Test_Ball.eps
MazeRecorder/Analysis/F1_plots/pulling_ratio_Test_Ball.png
MazeRecorder/Analysis/F1_plots/pushed_Test_Ball_CI_Pooled_prtr.png
MazeRecorder/Analysis/F1_plots/pushed_Test_Ball_CI.png
MazeRecorder/Analysis/F1_plots/pushed_Test_Ball.eps
MazeRecorder/Analysis/F1_plots/pushed_Test_Ball.png
MazeRecorder/Analysis/F1_plots/significant_ratio_Test_Ball_CI_Pooled_prtr.png
MazeRecorder/Analysis/F1_plots/significant_ratio_Test_Ball_CI.png
MazeRecorder/Analysis/F1_plots/significant_ratio_Test_Ball.eps
MazeRecorder/Analysis/F1_plots/significant_ratio_Test_Ball.png
MazeRecorder/Analysis/F1_plots/success_direction_Test_Ball.eps
MazeRecorder/Analysis/F1_plots/success_direction_Test_Ball.png
